<nav class="main-navigation">
  <ul class="main-navigation__list">
    <li class="main-navigation__list-item">
      <a
        class="main-navigation__link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="main-navigation__list-item">
      <a
        class="main-navigation__link"
        routerLink="/recent-posts"
        routerLinkActive="active"
        >Recent posts</a
      >
    </li>
  </ul>
</nav>
